.card-box {
  display: flex;
  flex-direction: column;
  width: 14em;
  border-radius: 20px;
  padding: 30px 20px 30px 20px;
  text-align: center;
  margin: 80px 8px 80px 8px;
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.2);
}

.card-icon {
  width: 7em;
  height: 7em;
}

.money-icon {
  fill: #eac71a;
}

.form-icon {
  fill: #8c8c8c;
}

.sun1-icon {
  fill: #fad000;
}
