.main-color {
  background-color: #ffed5b;
}

.main-color-dim {
  background-color: #ffe45d;
}

.highlight-color {
  background-color: #fad000;
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.text-dark {
  color: #333333;
}

.text-light {
  color: #fffee2;
}
