@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#main-container {
  background-color: #fffee2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  width: 100%;
}
