html, body {
  width: 100%;
  height: 100vh;
}

body {
  background-color: #230f96;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  font-size: 50px;
  color: #EEE;
}

#result-box {
  height: 300px;
  width: 300px;
  border: 5px solid #ebcd09;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-item {
  display: none;
  height: 200px;
}

#choice-box {
  padding: 40px;
}

.choice-item {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
}

.show {
  display: block;
}

#WATAME {
  z-index: 0;
  position: absolute;
  height: 100vh;
  opacity: 0%;
  pointer-events: none;
}
