.custom-line {
  border-top: 1px solid #f8f9fa;
}

.custom-jumbotron {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shadow {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 0px 21px 9px #00000030;
  box-shadow: 0px 0px 21px 9px #00000030;
}

.custom-card-color {
  background-color: #2d3339;
}

.custom-card-height {
  height: auto;
}

.custom-full-width {
  width: 100%;
}

.custom-bottom-margin {
  margin-bottom: 20px;
}

.email-icon-padding {
  padding-top: 7px;
}

.my-projects-tab {
  margin: 0;
  padding-bottom: 25px;
}

@media (min-width: 992px) {
  .custom-icon-margins {
    margin-left: 10px;
    margin-right: 10px;
  }
}
