#portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding-top: 50px;
}

#portfolio-container {
  margin: 0px 50px 100px 50px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #434C54;
  width: 450px;
  height: 600px;
  margin: 0 10px 20px 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 16px 2px #000;
  overflow: hidden;
  text-align: center;
}

.portfolio-picture-container {
  width: 400px;
  overflow: hidden;
}

.portfolio-picture {
  width: 400px;
}
